html {
    scroll-behavior: smooth;
}
header,
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    width: 90px;
}
h3{
    font-family: Pacifico;
    font-size: 1.2em;
    padding-bottom: 2%;
    margin: 1.2%;
    text-shadow: 2px 2px 5px rgb(199, 202, 216);
}

#ligar{
    background-color: green;
    color: white;
}

#desligar{
    background-color: red;
    color: black;
}

#inter{
    background-color: orange;
    color: black;
}
#limpaTudo{
    background-color: darkgrey;
    color: black;
}
