html {
    scroll-behavior: smooth;
}
body{
    background-color:ghostwhite;
}
section {
    background-color: rgb(208, 182, 242);
    color: #070707;
    padding: 2%;
    margin: auto;
    margin-top: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 55%;
    text-align: center;
    box-shadow: 0 10px 20px rgb(82, 69, 110);

}
h1{
    font-family: Montserrat;
    font-size: 2em;
    padding-bottom: 2%;
    text-shadow: 4px 4px 6px rgb(82, 69, 110);
}
p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 1%;
}

button, input, select{
    background-color: rgb(162, 138, 194);
    padding: 0.7%;
    margin: 2%;
    border-radius: 15px;
    margin: auto;
    margin-bottom: 1%;
    margin-top: 1.2%;
    font-family: IBM Plex Sans;
    color: #050505;
}

.col-6{
    width: 50%;
    text-align: center;
    border: 3px solid black; 
    border-style: dotted;
}
.linha {
    display: flex;
    text-align: center;
    padding: 1%;
}

