html {
    scroll-behavior: smooth;
}
body{
    background-color: #fff7dd;
    ;
}
section {
    background-color: #fcfaa5;
    color: #070707;
    padding: 2%;
    margin: auto;
    margin-top: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 55%;
    text-align: center;
    box-shadow: 0 10px 20PX #ff8d3b;
}
h1{
    font-family: Montserrat;
    font-size: 2em;
    padding-bottom: 2%;
    text-shadow: 4px 4px 6px #ff8d3b;
}
p{
    font-family:Montserrat;
    padding-bottom: 1.5%;
    font-weight: bold;
}

button, input, select{
    background-color: #f8ffac;
    padding: 0.7%;
    margin: 2.2%;
    border-radius: 14px;
    margin: auto;
    margin-bottom: 1%;
    margin-top: 1.2%;
    font-family:Montserrat;
    font-weight: bold;
    color: #050505;
}

.col-6{
    width: 50%;
    text-align: center;
    
}
img{
    width: 60%;
    margin: auto;
    margin: 8%;

}
.linha {
    display: flex;
    text-align: center;
    padding: 1%;
    border: 3px solid black; 
    border-style: dotted;
    width: 90%;
    margin: auto;
}
#res{
    font-weight: bold;
    text-shadow: 4px 4px 6px #ff8d3b;
    font-size: 1.3em;
}
#calcular{
    background-color: #ff8d3b;
}

